col-sm- col-md- col-lg- col-xl-
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Medium.ttf");
}
body {
  font-family: 'Montserrat';
}
header {
  position: relative;
  z-index: 1;
  height:600px;
}
#header_section {
  position: relative;
  z-index: 1;
  background: url(pictures/druplicon.svg) no-repeat left top;
  background-color: rgba(0,0,0,.8);
  padding-bottom: 60px;
}

#bg_video {
z-index: -3;
position: absolute;
top: 0;
right: 0;
left: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
filter: blur(3px);
transform: scale(1.04);
}
#header_logo {
  margin-top: -23px;
  margin-left: -15px;
}
#header_links {
  position: relative;
  z-index: 4;
  height: 50px;
  padding-top: 30px;
}
#razr_block {
  padding: 70px 0 60px;
}
.tarifs_link {
  position: relative;
  z-index: 4;
  height: 360px;
}
#razr {
  font-size: 52px;
  line-height: 60px;
  font-weight: bold;
  font-family: inherit;
  color: #fff;
}
#uslugi {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}
#btn {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  padding: 22px 20px;
  width: 220px;
  text-align: center;
  border: 2px solid #f14d34;
  border-radius: 5px;
  background: none;
}
.gs_tripple {
  margin-bottom: 96px;
  width: 100%;
}
.gs_block {
  border-left: 3px solid #f14d34; 
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 100%;
}
.gs_up_first {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-top: -22px;
}
#trophy{
  height: 58px;
  position: absolute;
  left: 65px;
  top: -3px;
}
.gs_up_second {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.gs_down {
  font-size: 12px;
  color: #fff;
  line-height: 1.25;
}
.wht {
  position: relative;
  z-index: 1;
  background-color: #fff;
  height: 1000px;
}
#wht_block {
  padding:150px 0;
}
#wht_txt_up {
  font-weight: bold;
  font-size: 52px;
  color: #050c33;
  line-height: 1;
}
#wht_txt_down {
  font-weight: 500;
  font-size: 22px;
  color: #4f5a73;
  line-height: 1.25;
}
.wht_imgs {
  margin: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
  line-height: 1.25;
}

.txt_top {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
#pointless_wht {
  height:500px;
  background-color: #fff;
}
#blk_cross {
  position: relative;
  z-index: 1;
  height:980px;
  background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613; 
}
#blk_back {
  position: relative;
  z-index: 2;
  background: url(pictures/drupal-logo-2.svg) no-repeat right bottom; 
}
#blk_txt {
  color: #050c33;
  text-align: center;
  font-weight: bold;
  font-size: 52px;
  line-height: 1;
  margin-top: -500px;
  margin-bottom: 60px;
  position: relative;
  z-index: 3;
}
.blk_img {
  background-color:#fff;
  height: 300px;
  width: 250px;
  position: relative;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(5,12,51,.05);
}
#blk_cross {
  margin-top: -220px;
  position: relative;
  z-index: 1;
}
.blk_little_block {
  position: relative;
  z-index: 1;
  color: #fff;
  padding-top: 30%;
  padding-left:50%;
}
#laptop_img {
  margin-left: -15px;
  margin-top: -380px;
}
.blk_num {
  font-weight: bold;
  font-size: 12px;
  color: #828a9b;
  margin-bottom: 15px;
}

.blk_first_words {
  font-weight: bold;
  font-size: 18px;
  color: #050c33;
  line-height: 1.22;
  margin-bottom: 15px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  color: #4e5a73;
  line-height: 1.37;
}
.blk_corner_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.blk_ecspertiza {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 65px;
  line-height: 1.1;
  margin-left: -35px;
}
.blk_ecsp_txt {
  border-left: 3px solid #f14d34;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 88px;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  color: rgba(256,256,256,.7);
  width: 260px;
  max-width: 100%;
}
.tarifs_block {
  height:500px;
  width:100%;
}
.tarif_col {
  padding: 60px 20px;
  background-color: #fff;
  border:3px solid #e6e6e6;
  border-radius: 5px;
}
.priced_type {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 3px solid #e6e6e6;
  font-size: 22px;
  font-weight: bold;
  color: #f14d32;
  line-height: 1.3;
}
.tarif_goals {
  margin-bottom: 18px;
  line-height: 1.2;
  font-size: 16px;
  padding-left: 30px;
  color: #4e5972;
  font-weight: 500;
}
#tarifs_name {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 42px;
}
#tarifs_bg {
  height: 900px;
  background: url(pictures/D-background-opacity.svg) no-repeat right top;
}
#tarifs_blocks {
  padding-top: 160px;
}
.tarifs_btn {
  color: #f14d34;
  padding: 20px 10px;
  background: #fff;
  border: 1px solid #f14d34;
  border-radius: 5px;
}
#not_agree_tarif {
  text-align: center;
  line-height: 1.3;
  font-weight: 500;
  color: #828a9b;
  width: 475px;
}
#not_agree_tarif_down {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #050c33;
  text-decoration: underline;
}
#skill_time {
  margin-top: 190px;
}
#devs_time_skills {
  font-weight: bold;
  font-size: 42px;
  color: #050c33;
  line-height: 1.1;
  padding-bottom: 60px;
}
.needed_time {
  font-size: 32px;
  color: #050c33;
  font-weight: bold;
}
.needed_time_terms {
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
  line-height: 1.4;
}

@media screen and (max-width: 785px){
  #header_links {display: none;}

  header {height: 830px;}

  #razr {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  }

  #uslugi {
  font-size: 14px;
  text-align: center;
  }

  #btn_block {
  margin: 0 40%;
  }

  .gs_tripple {
  margin-bottom: 0px;
  width: 50%;
  }

  .gs_block {
  border-left: 3px solid #f14d34;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  height: 100%;
  }

  #trophy{
  position: absolute;
  left: 65px;
  top: -3px;
  }

  #wht_txt_up {
  font-size: 24px;
  line-height: 1.1;
  }
  
  #wht_txt_down {
  font-size: 16px;
  line-height: 1.43;
  }

  .wht_imgs {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  }
  
  .wht_img_txt {
  text-align: center;
  }
  
  #blk_txt {
  text-align: center;
  font-size: 24px;
  line-height: 1.1;
  margin-top: -150px;
  margin-bottom: 60px;
  }
  
  .blk_img {
  background-color:#fff;
  height: 220px;
  width: 410px;
  }

  .blk_ecspertiza {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 250px;
  }

  .blk_little_block {
  padding-top: 0;
  padding-left:0;
  }
 
  #laptop_img {
  height: 360px;
  width: 370px;
  margin-top: 0;
  }

  .blk_ecsp_txt {
  min-height: 88px;
  height: 100%;
  width: 260px;
  margin-bottom: 30px;
  margin-left: 20px;
  }
  
  .tarif_col_big {
  margin-bottom: 10px;
  }
  
  #tarifs_bg {
  height: 2000px;
  background: url(pictures/D-background-opacity.svg) no-repeat right top;
  background-size: 1000px, 2000px;
  }
  
  #not_agree_tarif {
  width: 375px;
  }

  #devs_time_skills {
  font-size: 24px;
  }

  .needed_time {
  text-align: center;
  }

  .needed_time_terms {
  text-align: center;
  }
  
}
